<html>

<head>
    <title>access success</title>
</head>

<body>

    <table border="1px">
        <tr>
            <td>username: </td>
            <td>{{.Un}}</td>
        </tr>
        <tr>
            <td>Age: </td>
            <td>{{.Ag}}</td>
        </tr>
    </table>

</body>

</html>
